@charset "utf-8";
#wrap {
    width: 100vw;
    margin: 0;
}
body {
    margin: 0;
}
#header {
    /* width: 100%; */
    border-bottom: 1px solid lightgray;
    padding: 0px 100px;
}
.nav_item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
#gnb {
    position: relative;
    top: 45px;
    left: 90px;
}
#gnb li {
    font-size: 25px;
}
#info li:first-of-type::after {
    content: "";
    background-image: url("../imgs/location2.png");
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: -10%;
}
#info li {
    position: relative;
    left: 70%;
}
#login_bt {
    border-radius: 20px;
    width: 70px;
    height: 30px;
}
#logo {
    width: 100px;
    height: 100px;

    position: absolute;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#section {
    width: 1200px;
    margin: auto auto;
    /* border: 1px solid grey; */

    text-align: center;
}
#section > p {
    font-size: 30px;
    font-family: 맑은고딕;
}
.address {
    width: 300px;
    height: 30px;
}
.start_bt {
    width: 80px;
    height: 35px;
}
#footer {
    width: 100%;
    border-top: 1px solid lightgray;
}
#footer > p {
    float: right;
}